<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>


<title>Necesito ayuda</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-dark bg-primary">
	<div align="right">
 	</div>
 	</nav>
	
	<div class="starter-template">
		<h1>Necesito ayuda</h1>		
	</div>
	
	<div>
		<form class="form-horizontal" th:action="@{/assist/submit}" th:object="${turn}" th:method="POST">
		<div class="form-group">
				<label class="col-md-16 control-label" for="category">Alumno</label>
				<div class="col-md-16">
					<div>
					Username: <input id ="jacarandenno.username" name="jacarandenno.username" th:value="${turn.jacarandenno.username}" th:readonly>
					</div>
					<div>
					Name:<input th:value="${turn.jacarandenno.name}" readonly>
					</div>
				</div>
				<label class="col-md-4 control-label" for="category">Módulo</label>
				<div class="col-md-16">
					<div>
					<input id="signature.initials" name="signature.initials" th:value="${turn.signature.initials}" readonly>
					</div>
					<div>
					<input th:value="${turn.signature.name}" readonly size="100">
					</div>
				</div>
				<input id="time" name="time" th:value="${turn.time}" hidden>
				
			
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="addItem"></label>
				<div class="col-md-4">
					<button id="addItem" name="addItem" class="btn btn-primary">Atender
					</button>
				<a href="/index"><button type="button" class="btn btn-danger">Atrás</button></a>
				</div>
			</div>
	</div>
	
</div>
</body>
</html>