<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>


<title>Necesito ayuda</title>
</head>
<body>
<div class="container">
	<nav class="navbar navbar-dark bg-primary">
	<div align="right">
 	</div>
 	</nav>
	
	<div class="starter-template">
		<h1>Login</h1>		
	</div>
	
	<div>
	<form class="form-horizontal" th:action="#{/login}" method="post">
		<div><label>Usuario:</label><input type="text" name="username"/></div>
		<div><label>Password:</label><input type="password" name="password"/></div>
		<div><input type="submit" value="Logueate"/></div>
	</form>
	
</div>
</body>
</html>